
.carousel {
    display: grid;
    grid: 1fr / auto-flow 100%;
    gap: 1ch;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    touch-action: pan-x;
}
  
.cell {
    /* outer */
  scroll-snap-align: start;
  scroll-snap-stop: always;

  background-size: cover;
  background-image: 
      var(--bg), 
      linear-gradient(to top, #777, #ddd);

  user-select: none;
  touch-action: manipulation;

  transition: opacity .3s cubic-bezier(0.4, 0.0, 1, 1);
}

.cell.seen {
    opacity: 0;
    pointer-events: none;
}